<ion-header>
  <ion-toolbar color="light">
    <div slot="start" class="instagram-title">
      CORBLOX
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="story-list">
    Amigos
    <div class="scroll-horizontal">
      <div class="scroll-item" *ngFor="let user of users">
        <div class="item-avatar">
          <ion-avatar class="avatar-md has-update has-status">
            <img [src]="user.avatar">
          </ion-avatar>
        </div>
        <div class="item-label">
          {{ user.name }}
        </div>
      </div>
    </div>
  </div>

  <div>
    <div>
      <h1 class="continuar-title">Continuar</h1>
      <ion-buttons slot="end">
        <ion-button class="add-game-button" color="dark" (click)="toggleForm()">Agregar Juego</ion-button>
      </ion-buttons>
      <ion-card *ngFor="let game of games">
        <img alt="Silhouette of mountains" src="{{ game.imagen }}" />
        <ion-card-header>
          <ion-card-title>{{ game.titulo }}</ion-card-title>
          <ion-card-subtitle>{{ game.subtitle }}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          {{ game.descripcion }}
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <div *ngIf="formVisible" class="form-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Agregar Juego</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Selecciona un juego</ion-label>
          <ion-select [(ngModel)]="selectedGame">
            <ion-select-option *ngFor="let game of recommendedGames" [value]="game">{{ game.titulo }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button expand="full" (click)="addGame()">Agregar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
